<div class="content">
    <blockquote>
        <div class="columns is-mobile">
            <div class="column  is-narrow">
                <span class="icon">
                    <i class="mdi mdi-magnify mdi-48px" style="color: lightgrey; margin-top:10px;"></i>
                </span>
            </div>
            <div class="column is-5">
                <p>Результаты поиска по строке: <strong>{{ filter }}</strong>                                            </p>
                <div id="reset_search">
                    <b-checkbox-button v-model="checkboxGroup"
                            native-value="Nop"
                            type="is-danger">
                        <b-icon icon="close"></b-icon>
                        <span>Сбросить фильтрацию</span>
                    </b-checkbox-button>
                </div>
            </div>
        </div>
    </blockquote>
</div>