{% extends "layout.html" %}
{% from "macros.html" import render_pagination %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/catalogue.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1 class="title is-3 has-text-centered">Блог адвоката</h1>
    {% if filter|length() > 0 %}
        {% include "_search_reset.html" %}
    {% endif %}
    <div id="product_list">
        {% for entry in entries %}
            <!-- Main container -->
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        <figure class="media-left">
                            <p class="image is-96x96" style="height: 74px;">
                                {% set background_url = url_for('static', filename='img/products/no_picture.jpg') %}
                                <a href="{{ url_for('main.blog_entry', id=entry['id']) }}" style="width: 96px; height: 58px; display: block; background-image: url('{{ background_url }}');">
                                    {{ entry["title"] }}
                                </a>
                            </p>
                        </figure>
                    </div>
                </div>            
            </nav>
        {% endfor %}
    </div>
    {{ render_pagination(pagination, page, filter) }}
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="https://unpkg.com/buefy/dist/components/checkbox"></script>
    <!-- <script src="{{ url_for('static', filename='js/catalogue.js') }}" ordered_list="{{ ordered_list }}"></script> -->
{% endblock %}
