{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <style>
        .hero .tabs ul {
            border-bottom: 1px solid #dbdbdb;
        }
        .b-tabs .tab-content {
            border-left: 1px solid #dbdbdb;
            border-right: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
        }
        .image img {
            max-width: 100%;
            width: auto;
        }
        .material-icons {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: bottom;
            padding-top: 18px;
        }
        .material-icons.md-36 { font-size: 36px; }



    </style>
{% endblock %}
{% block content %}
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
            <p>
                <h1 class="title is-4" style="margin-bottom: 1em;">{{ entry['title'] }}</h1>
                {{ entry['html_content'] }}
            </p>
            </div>
        </div>
    </article>    
</div>


    
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="https://unpkg.com/buefy/dist/components/checkbox"></script>
    <!-- <script src="{{ url_for('static', filename='js/catalogue.js') }}" ordered_list="{{ ordered_list }}"></script> -->
{% endblock %}