{% extends "layout.html" %}
{% block content %}
<h1 class="title is-3 has-text-centered">Контакты</h1>
    <div class="columns">
        <div class="column is-full-mobile is-two-thirds-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
            <p>
                {{ text_body }}
            </p>
        </div>
    </div>
{% endblock %}