{% extends "layout.html" %}
{% block content %}
<h1 class="title is-3 has-text-centered">Услуги адвоката</h1>


<div id="sse_id">
    <sse inline-template>
        <div v-cloak>
            <p>[[ stockData ]]</p>
        </div>
    </sse>
</div>

      
{% endblock %}
{% block javascript %}
    {{ super() }}
    <script>
        // var source = new EventSource('/event_stream');
        // source.onmessage = function(event){
        //   console.log(event.data);
        // };
      </script>
{% endblock %}

