<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>//-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">//-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">//-->
    <!--<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">//-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <style>
        
    </style>
    {% endblock %}
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <div id="vk_community_messages"></div>
    <!-- The code of off-screen menu -->
    <!-- https://www.sitepoint.com/pure-css-off-screen-navigation-menu/ -->
    <ul class="navigation">
        <li class="nav-item"><a class="navbar-item" href="{{ url_for('main.index') }}">Главная</a></li>
        <li class="nav-item"><a class="navbar-item" href="{{ url_for('main.about') }}">Резюме</a></li>
        <li class="nav-item"><a class="navbar-item" href="{{ url_for('main.about') }}">Моя практика</a></li>
        <li class="nav-item"><a class="navbar-item" href="{{ url_for('main.blog') }}">Блог адвоката</a></li>
        <li class="nav-item"><a class="navbar-item" href="{{ url_for('main.contacts') }}">Контакты</a></li>
    </ul>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>
    <!-- End cod off-screen menu -->
    <div class="site-wrap">
        <div class="container">
            <div class="is-two-thirds">
                <section class="hero is-info">
                    <div class="hero-body ds-header">
                        <article class="media">
                            <figure class="media-left">
                                <a class="ds-logo" href="{{ url_for('main.index') }}">
                                    <!--
                                    <img class="is-hidden-tablet" src="{{ url_for('static', filename='img/ds_logo_small.png') }}" }}>
                                    <img class="is-hidden-mobile" src="{{ url_for('static', filename='img/ds_logo.png') }}" }}>
                                    //-->
                                </a>
                            </figure>
                            <div class="media-content">
                              <div class="content">
                                    <!-- Main container -->
                                <nav class="level">
                                   
                                        <!-- Right side -->
                                        <div class="level-left">
                                            <div class="columns is-mobile is-multiline is-centered">
                                                <div class="column is-narrow ds-email">
                                                    <i class="material-icons md-36">mail_outline</i>
                                                    <p class="contacts">
                                                        <span class="subtitle is-5"><strong>ask@advokatsmirnova.ru</strong></span><br />
                                                        <span class="subtitle is-7">Отвечу втечении дня!</span>
                                                    </p>
                                                </div>
                                                <span class="column is-narrow ds-phone">
                                                    <i class="material-icons md-36">phone_forwarded</i>
                                                    <p class="contacts">
                                                        <span class="subtitle is-5"><strong>8 (902) 325-33-15</strong></span><br />
                                                        <span class="subtitle is-7">Пн-Пт: с 8:00 до 20:00</span>
                                                    </p>
                                                </span>
                                            </div>
                                        </div>
                                    </nav>
                              </div>
                            </div>
                            <div class="media-right">
                                
                            </div>
                          </article>
                    </div>
                </section> 
                <nav class="navbar is-black">
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="{{ url_for('main.index') }}">
                                Главная
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.about') }}">
                                Резюме
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.about') }}">
                                Моя практика
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.blog') }}">
                                Блог адвоката
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.contacts') }}">
                                Контакты
                            </a>
                        </div>
                    </div>
                </nav>
                <div class="columns page">
                    <div class="column is-narrow is-hidden-touch">
                        <div style="width: 100px;"></div>
                    </div>
                    <div class="column">
                            <div id="app">
                                <button @click="doSuccess">Success Alert</button>
                                <button @click="doError">Error Alert</button>
                                <button @click="doConfirm">Confirm</button>
                            </div>
                            {% block content %}
                            {% endblock %}
                    </div>
                    <div class="column is-narrow is-hidden-touch">
                        <div style="width: 100px;"></div>
                    </div>
                </div>
                <section class="hero is-dark">
                    <div class="hero-body">
                            <p class="has-text-centered">
                                <strong>Адвокат Смирнова Е.В.</strong> Гражданские и административные дела.
                            </p>
                    </div>
                </section>     
            </div>
        </div>
    </div>


    {% block javascript %}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
        <script src="{{ url_for('static', filename='js/eventsource.min.js') }}"></script>
        <script src="https://unpkg.com/axios@0.15.3/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
        <!-- <script>
            var source = new EventSource('/event_stream');
            source.onmessage = function(event) {
              console.log('new event ', event.data);
            };
        </script> -->
    {% endblock %}
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" ordered_list="{{ ordered_list }}" filter="{{ filter }}"></script>
        <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
        <script src="https://vk.com/js/api/openapi.js?160" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

        <script type="text/javascript">
        var widget = VK.Widgets.CommunityMessages("vk_community_messages", 179435527);
        widget.stopTitleAnimation();
        widget.expand({
        welcomeScreen: 0,
        });
        </script>

    {% endassets %}

</body>
</html>