<nav class="pagination" role="navigation" aria-label="pagination">
    {% if page > 1 %}
        <a class="pagination-previous">Previous</a>
    {% endif %}
    {% if page < total_items / items_per_page %}
        <a class="pagination-next">Next page</a>
    {% endif %}
    <ul class="pagination-list">
        <li>
        <a class="pagination-link" aria-label="Goto page 1">1</a>
        </li>
        <li>
        <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
        <a class="pagination-link" aria-label="Goto page 45">45</a>
        </li>
        <li>
        <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
        </li>
        <li>
        <a class="pagination-link" aria-label="Goto page 47">47</a>
        </li>
        <li>
        <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
        <a class="pagination-link" aria-label="Goto page 86">86</a>
        </li>
    </ul>
</nav>