@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


// Update some of Bulma's component variables
$family-sans-serif: "Roboto Condensed", sans-serif;
$body-line-height: 1.4;
$control-border-width: 1px;


// Add custom breakpoint for very small mobile devices
// from 320 to 768 px screen
=phone
  @media (min-width: 50px) and (max-width: $tablet - 1px)
    @content

@import "../../../bower_components/bulma/bulma.sass";
@import "../../../node_modules/bulma-steps-component/bulma-steps.sass";

.columns.page
    background-color: #fff;
    margin: 0;
    padding-bottom: 3em

.title, .subtitle.is-6
    margin-top: 1.0em
    marfin-bottom: 0.4em

.navbar-brand
    > div
        padding-right: 6px;

.cost
    margin-top: 7px

#shop_basket a
    padding-top: 0px;

.cartitem
    padding-left: 14px;
    width: 100px;
    svg
        @include phone()
            margin-left: 0px;
        @include from(768px)
            margin-left: 20px;

.cartitem
    @include until(920px)
        width: 80px;
        padding-left: 0px;
    .podpis
        @include phone()   
            display: none;

.cartcount
    font-family: Barlow,sans-serif;
    position: absolute;
    background: #a70c00;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    width: 25px;
    height: 25px;
    font-size: 13px;
    margin: -5px 0 0 46px;
    border-radius: 1000px;
    font-weight: 700;

.hero-body
    padding: 1.5rem 1.5rem 1rem 1.5rem;

.material-icons.md-36
    font-size: 36px;

.ds-header
    padding-bottom: 0em;
    .material-icons
        margin: 0 0.2em 0 1em;
    .ds-logo
        margin-left: 35px;
    .media-left, .media-right
        margin-left: 0em;
        margin-right: 0em;
    .level-left
        .columns
            .column
                padding-top: 1em;
                p.contacts
                    float: right;
            // hide email for small screen
            .ds-email
                @include until(920px)
                    display: none;
            .ds-phone
                @include until(625px)
                    display: none;

.box.hide, .level.hide
    display: none;

p
    margin: 0em auto 1em auto;

/* catalogue styles */
p.catalogue_item_title
    margin-top: 0.3em;
    margin-bottom: 0em;

p.catalogue_item_title + p.subtitle
    margin: 0em;

ul.simple, ol.simple, 
    margin-left: 6em;

.level-item, .level-right
    margin-bottom: auto;

.level-right .title
    margin-top: 0em;
    text-align: right;

.subtitle.empty_list
    display: none;

.subtitle.empty_list.show
    display: block;

// Step wizard in order page
#step_wizard
    margin-top: 50px;

.product_num
    width: 40px;